@use 'variables' as vars;

@mixin font-joti {
    font-family: 'Joti One', sans-serif;
}

@mixin font-itim {
    font-family: 'Itim', sans-serif;
}

// Estilos de componentes
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 8.6rem;
    margin: 0 auto;
}

header {
    display: flex;
    height: 5.6rem;
    padding: 3.2rem;
    justify-content: space-between;
    align-items: center;
    background: vars.$black;
}

.box-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box-content-header .logo-header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 12rem;
    padding: 5px;
}

.box-content-header .logo-header img {
    width: 100%;
}

nav ul {
    width: 30rem;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    color: vars.$white;
    font-family: Itim;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner1 .container {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}

.banner1 .container img {
    z-index: -1;
    width: 100%;
    position: relative;
    top: 40%;
}

.box-content-banner1 {
    text-align: center;
    align-content: center;
}

.box-content-banner1 h1 {
    color: vars.$blue-;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: "Joti One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box-content-banner1 p {
    color: vars.$white;
    text-align: center;
    font-family: "Joti One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner2 .container {
    width: 100%;
    margin: 0 auto;
}

// banner3-about

.banner3-about {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}

.banner3-about .container {
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-content-banner3 {
    width: 50%;
    height: auto;
    padding: 3.2rem;
    margin: auto 0;
}

#background-profile {
    display: flex;
    width: 50%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#background-profile img {
    height: 100%;
}

.box-content-banner3 h1 {
    color: vars.$white;
    font-size: 64px;
}

.box-content-banner3 h1 span {
    color: vars.$blue-;
}

.box-content-banner3 h3 {
    color: vars.$blue-;
    font-size: 32px;
}

.box-content-banner3 p {
    color: vars.$white;
    font-size: 1.8rem;
}

.box-content-banner3 .box-social {
    position: relative;
    top: -3rem;
    left: 10rem;
    display: flex;
    width: 20rem;
    height: 4rem;
    padding: .35rem;
    justify-content: space-between;
}

// Scroller
.scroller {
    margin-bottom: 1%;
    text-align: center;
    overflow: hidden; // Adicionar overflow: hidden para garantir o comportamento correto
}

.scroller__inner {
    height: 5.6rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    text-align: center;
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 20s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - 0.5rem)); // Corrigir a direção da animação
    }
}

#img-log {
    opacity: 20%;
    animation: scrollAnimation 10s linear infinite;

    /* Adjust duration and timing as needed */
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        /* Adjust the translation value as needed */
    }
}

// section projetos
.projetos .container {
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 0 auto;
}

.projetos .container h1 {
    font-size: 6.4rem;
    padding-left: 3.2rem;
    text-align: center;
    color: vars.$blue-;
    margin-top: 10rem;
    padding-top: 5rem;
    border-top: 1px solid vars.$blue-;
}

.grid-content-projetos {
    display: flex;
    margin-top: 2rem;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 3%;
}

.content-projetos {
    display: flex;
    width: 25rem;
    height: 35rem;

    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    cursor: pointer;
    border-radius: 2rem;
    /*border: 1px solid vars.$blue-;*/
    background: vars.$black;
}

.content-projetos img {
    height: 15rem;
    margin: 0 auto;
}

.content-projetos h2 {
    font-size: 1.8rem;
    color: vars.$blue-;
}

.content-projetos p {
    text-align: center;
    width: 20rem;
    font-size: 1.4rem;
    color: vars.$white;
    letter-spacing: .02rem;
    margin: 0 auto;
}

.content-projetos a {
    text-decoration: none;
    color: vars.$orangered;
    font-size: 1.8rem;
    cursor: pointer;
}

footer .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: vars.$black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-social-footer p {
    color: vars.$gray-500;
    font-size: 1.4rem;
}


.wrapper-social-footer p:hover {
    cursor: pointer;
    color: vars.$neutral;
    border-bottom: 1px solid vars.$blue-;
}

.wrapper-social-footer {
    height: max-content;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wrapper-social-footer .box-social {
    display: flex;
    padding: .5rem 0;
    width: 30rem;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

.wrapper-social-footer .box-social img {
    height: 3rem;
}

.wrapper-social-footer .box-social img:hover {
    cursor: pointer;
    color: vars.$blue-;
}

.box-content-creditos {
    display: flex;
    width: 100%;
    height: 5rem;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.box-content-creditos .creditos {
    display: flex;
    padding: 5px 0px;
    align-items: center;
    gap: 12px;
}

.box-content-creditos img {
    width: 8rem;
}

.box-content-creditos p {
    color: vars.$gray-500;
    font-size: 1.8rem;
}

.box-content-creditos p {
    color: vars.$gray-500;
    font-size: 1.4rem;
}





// breakpoint //
@media (max-width:1200px) {
    .banner1 .container {
        height: 50vh;
    }

    .box-content-banner1 h1 {
        font-size: 32px;
    }

    .box-content-banner1 p {
        font-size: 24px;
    }
}

@media (max-width:920px) {
    header {
        padding: 0;
    }

    .box-content-header {
        justify-content: center; // Garantir que os itens sejam espaçados
    }

    .box-content-header .logo-header {
        display: none;
    }

    nav ul {
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .box-content-banner3 {
        padding: 1%;
        width: 100%;
        margin: 0 auto;
    }

    .box-content-banner3 h1 {
        font-size: 48px;
    }

    .box-content-banner3 h3 {
        font-size: 24px;
    }

    .box-content-banner3 p {
        font-size: 18px;
    }

    .box-content-banner3 .box-social {
        top: 0;
        left: 0;
        width: 10rem;
        height: 4rem;
        padding: .3rem;
    }

    .banner3-about {
        margin-bottom: 10rem;
    }

}

@media (max-width:600px) {
    #background-profile img {
        height: 80%;
    }

    .box-content-banner3 p {
        font-size: 16px;
    }

    .banner3-about {
        margin-bottom: 20rem;
    }

    .projetos .container h1 {
        border-top: none;
    }

    .wrapper-social-footer p,
    .wrapper-social-footer .box-social {
        margin-top: 5%;
        font-size: 1.2rem;
    }

    .box-content-creditos p {
        text-align: center;
        font-size: 1.2rem;
    }

    .box-content-creditos {
        height: 8rem;
        border-top: 1px solid vars.$neutral;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}