@use 'variables' as vars;

// Reset CSS
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 62.5%;
    width: 1440px;
    width: 100%;
    height: 4591px;
    font-family: 'Joti One';
    background: rgba(19, 18, 25, 0.99);
}