@use 'variables' as vars;

// Importar as fontes do Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Itim&display=swap');

// Mixins para as Fontes
@mixin font-joti {
    font-family: 'Joti One', sans-serif;
}

@mixin font-itim {
    font-family: 'Itim', sans-serif;
}

// Reset CSS
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}


html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    background: vars.$background;
    cursor: none;
}

.custom-cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border: 1px solid #ff0000;
    background-color: #ff0000;
    border-radius: 50%;
    pointer-events: none;
    /* Impedir que o cursor interfira na interação do mouse */
    transform: translate(-50%, -50%);
    /* Centralizar o cursor em relação ao ponto do mouse */
    background-color: transparent;
    z-index: 9999;
    /* Assegurar que o cursor esteja acima de outros elementos */
}

.trail {
    position: fixed;
    width: 15px;
    height: 15px;
    border: 1px solid yellow;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
    z-index: 9999;
}


p,
a {
    @include font-itim;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1,
h2,
h3 {
    @include font-joti;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: vars.$white;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
}