@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Itim&display=swap');

// Variáveis de cores

$background: #131219fc;

$black: #000000;
$neutral: #404040;
$white: #FFFFFF;
$blue-100: #89CFF0;
$blue-: #284BFF;
$blue-neutral: #0000ff;
$orangered: #ff4500;

$gray-100: #f4f4f5;
$gray-200: #e4e4e7;
$gray-300: #d4d4d8;
$gray-500: #71717a;
$gray-800: #27272a;
$gray-900: #1a1a1a;

// Breakpoints mobile
$breakpoint-275: 275px;
$breakpoint-375: 375px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;