@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Joti+One&family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Joti+One&family=Itim&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  background: rgba(19, 18, 25, 0.9882352941);
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  border-radius: 50%;
  pointer-events: none;
  /* Impedir que o cursor interfira na interação do mouse */
  transform: translate(-50%, -50%);
  /* Centralizar o cursor em relação ao ponto do mouse */
  background-color: transparent;
  z-index: 9999;
  /* Assegurar que o cursor esteja acima de outros elementos */
}

.trail {
  position: fixed;
  width: 15px;
  height: 15px;
  border: 1px solid yellow;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  z-index: 9999;
}

p,
ul,
a {
  font-family: "Itim", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Joti One", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  height: 80px;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px 5px #000000;
}

header:hover {
  box-shadow: 0px 5px 20px 5px #284BFF;
}

.box-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box-content-header .logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 0.5%;
  font-size: 32px;
  background: -webkit-linear-gradient(#0000ff, #89CFF0);
  background: linear-gradient(#0000ff, #89CFF0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  width: 400px;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

nav ul li:hover {
  transition: transform 0.3s ease;
  transform: translateY(2.5px);
}

nav ul li a {
  font: normal 400 2.1rem/normal Itim;
  color: #FFFFFF;
}

nav ul li a:hover {
  color: #71717a;
  border-bottom: 1px solid #284BFF;
}

.banner1 .container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.banner1 .container img {
  z-index: -1;
  width: 100%;
  position: relative;
  top: 25%;
}

.box-content-banner1 {
  text-align: center;
  align-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.box-content-banner1 h1 {
  font: normal 400 64px/normal "Joti One";
  color: #284BFF;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  margin-bottom: 2.5rem;
  background: -webkit-linear-gradient(#0000ff, #89CFF0);
  background: linear-gradient(#0000ff, #89CFF0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-content-banner1 h1:hover {
  color: #FFFFFF;
  text-align: center;
  background: -webkit-linear-gradient(#89CFF0, #0000ff);
  background: linear-gradient(#89CFF0, #0000ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease;
  transform: translateY(-5.5px);
}

.box-content-banner1 h2::before {
  content: "";
  max-width: 59.9rem;
  height: 2.2rem;
  background: url(../img/line-title.png) no-repeat left center;
  filter: invert(45%);
  position: absolute;
  left: 25%;
  top: 270px;
  margin: 4.5%;
  z-index: -1;
  animation: drawLine 1.75s ease-in forwards;
}

@keyframes drawLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.box-content-banner1 p {
  font: normal 400 38px/normal "Joti One";
  color: #FFFFFF;
  text-align: center;
  background: -webkit-linear-gradient(#89CFF0, #0000ff);
  background: linear-gradient(#89CFF0, #0000ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-content-banner1 p:hover {
  background: -webkit-linear-gradient(#0000ff, #89CFF0);
  background: linear-gradient(#0000ff, #89CFF0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease;
  transform: translateY(5.5px);
}

.banner2 .container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
  opacity: 70%;
  margin-top: 20px;
}

.banner2 .container:hover {
  opacity: 130%;
}

.banner3-about {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}

.banner3-about .container {
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-content-banner3 {
  width: 50%;
  height: auto;
  padding: 3.2rem;
  margin: auto 0;
}

#background-profile {
  display: flex;
  width: 50%;
  height: 70%;
  justify-content: center;
  align-items: center;
  animation: floatingY 3s ease-in-out infinite;
}

@keyframes floatingY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
#background-profile img {
  height: 100%;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

#background-profile img:hover {
  transition: transform 0.6s ease;
  transform: translateY(-2.5px);
}

.box-content-banner3 h1 {
  background: -webkit-linear-gradient(#0000ff, #89CFF0);
  background: linear-gradient(#0000ff, #89CFF0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
}

.box-content-banner3 h1:hover {
  transition: transform 0.3s ease;
  transform: translateY(-5.5px);
}

/* automação pontos ... */
.box-content-banner3 h1 .dot,
.projetos .container .dot {
  display: inline-block;
  font-size: inherit;
}

.light-blue,
.medium-blue,
.dark-blue,
.projetos .container .light-blue,
.projetos .container .medium-blue,
.projetos .container .dark-blue {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-content-banner3 h1 .light-blue,
.projetos .container .light-blue {
  background-image: linear-gradient(89.5deg, #83ccff 0.4%, #4290fb 100.3%);
}

.box-content-banner3 h1 .medium-blue,
.projetos .container .medium-blue {
  background-image: linear-gradient(93.2deg, #185ff6 14.4%, #1b45a6 90.8%);
}

.box-content-banner3 h1 .dark-blue,
.projetos .container .dark-blue {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #9729f7 0%, #181627 90%);
}

/* automação pontos ... */
.box-content-banner3 h3 {
  color: #FFFFFF;
  text-align: center;
  background: -webkit-linear-gradient(#89CFF0, #0000ff);
  background: linear-gradient(#89CFF0, #0000ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
}

.box-content-banner3 h3:hover {
  color: #FFFFFF;
  text-shadow: 0.5px 1px #284BFF;
  transition: transform 0.3s ease;
  transform: translateX(-5.5px);
}

.box-content-banner3 p {
  color: #FFFFFF;
  font-size: 2.1rem;
  letter-spacing: 1.2px;
}

.box-content-banner3 .box-social {
  position: relative;
  top: -3.5rem;
  left: 10rem;
  display: flex;
  width: 20rem;
  height: 4rem;
  padding: 0.35rem;
  justify-content: space-between;
}

.box-content-banner3 .box-social img:hover {
  cursor: pointer;
  border-radius: 0.8rem;
  transition: transform 0.3s ease;
  transform: rotate(45deg);
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #284BFF, #d4d4d8);
}

#vetor-social {
  animation: floatingX 3s ease-in-out infinite;
}

@keyframes floatingX {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.scroller {
  margin-bottom: 1%;
  text-align: center;
  overflow: hidden;
}

.scroller__inner {
  height: 5.6rem;
  padding-block: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  text-align: center;
}

.scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 20s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction=right] {
  --_animation-direction: reverse ;
}

.scroller[data-direction=left] {
  --_animation-direction: forwards ;
}

.scroller[data-speed=fast] {
  --_animation-duration: 20s ;
}

.scroller[data-speed=slow] {
  --_animation-duration: 60s ;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 0.1rem));
  }
}
#img-log {
  opacity: 20%;
  animation: scrollAnimation 10s linear infinite;
}

#img-log:hover {
  cursor: pointer;
  opacity: 200%;
  animation: scrollAnimation 10s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.projetos .container {
  width: 100%;
  height: auto;
  padding: 2%;
  margin: 0 auto;
}

.projetos .container h1 {
  font-size: 6.4rem;
  padding-left: 3.2rem;
  text-align: center;
  margin-top: 10rem;
  padding-top: 5rem;
  background: -webkit-linear-gradient(#0000ff, #89CFF0);
  background: linear-gradient(#0000ff, #89CFF0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projetos .container h1:hover {
  transition: transform 0.3s ease;
  transform: translateX(-5.5px);
}

.grid-content-projetos {
  display: flex;
  margin-top: 2rem;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 3%;
}

.content-projetos {
  display: flex;
  width: 25rem;
  height: 35rem;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: #000000;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #284BFF, rgba(0, 0, 0, 0)) 1 100%;
}

.content-projetos:hover {
  transition: transform 0.3s ease;
  transform: translateY(-2.5px);
}

.content-projetos img {
  height: 12rem;
  margin: 0 auto;
}

.content-projetos h2 {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(#0000ff, #89CFF0);
  background: linear-gradient(#0000ff, #89CFF0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-projetos p {
  text-align: center;
  width: auto;
  font-size: 1.4rem;
  color: #FFFFFF;
  letter-spacing: 0.02rem;
  margin: 0 auto;
}

.content-projetos a {
  width: 15rem;
  margin: 0 auto;
  padding: 1%;
  text-decoration: none;
  color: #ff4500;
  font-size: 1.8rem;
  border-radius: 20px;
  border: 1px solid #284BFF;
}

.content-projetos a:hover {
  cursor: pointer;
  color: #404040;
}

/* section 4 */
.banner4 .container {
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 2%;
  width: 100%;
  height: 400px;
}

/* section 4 */
footer {
  width: 100%;
}

footer .container {
  width: 100%;
  max-width: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 0 0 50px 15px #000000;
  background-color: #000000;
}

footer .container:hover {
  box-shadow: 0 0 50px 15px #284BFF;
}

.wrapper-social-footer p {
  color: #d4d4d8;
  letter-spacing: 150%;
  font-size: 1.4rem;
}

.wrapper-social-footer p:hover {
  cursor: pointer;
  color: #404040;
  border-bottom: 1px solid #284BFF;
  transition: transform 0.3s ease;
  transform: translateY(5.5px);
}

.wrapper-social-footer {
  height: max-content;
  display: flex;
  padding: 1%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.wrapper-social-footer .box-social {
  display: flex;
  padding: 0.5rem 0;
  width: 30rem;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.wrapper-social-footer .box-social img {
  height: 3rem;
}

.wrapper-social-footer .box-social img:hover {
  cursor: pointer;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: transform 0.3s ease;
  transform: rotate(45deg);
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, #284BFF, #d4d4d8);
}

.box-content-creditos {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.box-content-creditos .creditos {
  width: 20rem;
  display: flex;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  gap: 5%;
  cursor: pointer;
}

.box-content-creditos .creditos a {
  font-size: 16px;
  background: -webkit-linear-gradient(#0000ff, #89CFF0);
  background: linear-gradient(#0000ff, #89CFF0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-content-creditos .creditos a:hover {
  transition: transform 0.6s ease;
  transform: translateX(2.5px);
}

.box-content-creditos img {
  width: 12rem;
}

.box-content-creditos p {
  color: #71717a;
  font-size: 1.8rem;
}

.box-content-creditos p {
  color: #71717a;
  font-size: 1.4rem;
}

@media (max-width: 1200px) {
  .banner1 .container {
    height: 50vh;
  }
  .box-content-banner1 h1 {
    font-size: 32px;
  }
  .box-content-banner1 p {
    font-size: 24px;
  }
  .box-content-banner1 h2::before {
    left: 10%;
    top: 270px;
  }
}
@media (max-width: 920px) {
  header {
    padding: 0;
  }
  .box-content-header {
    justify-content: center;
  }
  .box-content-header .logo-header {
    display: none;
  }
  nav ul {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .box-content-banner1 h1 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .box-content-banner3 {
    padding: 1%;
    width: 100%;
    margin: 0 auto;
  }
  .box-content-banner3 h1,
  .box-content-banner3 h1:hover {
    font-size: 3rem;
  }
  .box-content-banner3 h3,
  .box-content-banner3 p {
    font-size: 1.7rem;
    padding-bottom: 2px;
  }
  .box-content-banner3 .box-social {
    top: 0;
    left: 0;
    gap: 1%;
    width: 20rem;
    height: auto;
    padding: 0.3rem;
  }
  .banner3-about {
    margin-bottom: 10rem;
  }
  .wrapper-social-footer {
    flex-direction: column;
  }
  .wrapper-social-footer p,
  .wrapper-social-footer .box-social {
    margin-top: 1.5%;
  }
  .box-content-banner1 h2::before {
    max-width: 55rem;
    left: -5px;
    top: 270px;
  }
}
@media (max-width: 600px) {
  .box-content-banner1 {
    margin-top: 5rem;
  }
  .banner2 .container img {
    margin-top: -30rem;
    opacity: 30%;
  }
  .scroller-wrapper {
    margin-bottom: 5rem;
  }
  /* ajuste responsivo div-social sobre-mim*/
  .wrapper-social {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  /* ajuste responsivo div-social sobre-mim*/
  .box-content-banner3 {
    width: 90%;
    display: inline;
  }
  #background-profile img {
    height: 80%;
  }
  .box-content-banner3 p {
    font-size: 1.6rem;
  }
  .banner3-about {
    margin-bottom: 20rem;
  }
  .projetos .container h1 {
    border-top: none;
    font-size: 4.8rem;
  }
  .wrapper-social-footer .box-social {
    width: 15rem;
  }
  .wrapper-social-footer p,
  .wrapper-social-footer .box-social {
    font-size: 1.2rem;
  }
  .box-content-creditos p {
    text-align: center;
    font-size: 1.1rem;
  }
  .box-content-creditos {
    height: 8rem;
    border-top: 1px solid #404040;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box-content-banner1 h2::before {
    max-width: 43.5rem;
    left: 0;
    top: 320px;
  }
  nav ul {
    justify-content: space-evenly;
  }
}
@media (max-width: 475px) {
  .box-content-banner1,
  .banner2 .container img {
    margin-top: 3rem;
  }
  nav ul li a {
    font: normal 400 2rem/normal Itim;
  }
  .box-content-banner1 h2::before {
    max-width: 40rem;
  }
}
@media (max-width: 325px) {
  .banner2 .container img {
    margin-top: 5rem;
    opacity: 30%;
  }
  nav ul li a {
    font: normal 400 1.2rem/normal Itim;
  }
}

/*# sourceMappingURL=main.css.map */
